@charset "utf-8";
/*公共样式*/
html,body,ul,ol,li,dl,dd,dt,p,a,img,div,span{
	margin:0;
	padding:0;
}
img{
	border:none;
	display:block;
}
ul,ol,li{
	list-style:none;
}
em,i{
	font-style:normal;
}
strong,b,h1{
	font-weight:normal;
}
a{
	text-decoration:none;
}
html,body{
	height:100%;
	margin:0 auto;
}
/*title*/
.title{
	width: 980px;
	height: 94px;
	padding:50px 150px 0 150px;
}
.title .logo{
	float:left;
	height: 54px;
	padding:20px 0 20px 0;
}
.title .logo a img{
	float:left;
}
.title .logo a p{
	float: left;
    margin: 20px 0 0 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #666;
    border-left: 1px solid #e6e6e6;
    cursor: pointer;
}
.title .register{
	float:right;
	height: 54px;
	padding: 40px 0 0 0;
    font-size: 14px;
    line-height: 22px;
}
.title .register a{
	display: block;
	float: right;
	width: 76px;
    height: 22px;
    color: #c00;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.title .register a:hover{
	background-color: #c00;
	color:white;
}
/*data*/
.data{
	width: 982px;
	height: 766px;
	border:1px solid #e6e6e6;
 	margin-left: 150px;
}
.data .head{
	height: 60px;
	background-color: #fafafa;
	width: 100%;
	font-size: 18px;
	color:#999;
	line-height: 60px;
	text-align: center;
}
.data .phone{
float: left;
padding: 30px 0 0 79px;
width: 510px;
height: 660px;
}
.data .phone ul{
	height:40px;
}
.data .phone ul li:nth-child(2){
	float: left;
	width: 250px;
	height: 38px;
	border-bottom:1px solid #e6e6e6;
}
 .data .phone ul li:nth-child(1){
 	float: left;
	width: 250px;
	height: 38px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-top: 2px solid #e02d2d;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	color:#e02d2d;
} 
.data .phone dl{
	width: 100%;
	height: 70px;
	padding-top: 20px;
}
.data .phone dl dt{
	float:left;
	margin-left: 15px;
	font-size: 14px;
	color:#666;
	margin-top: 12px;
}
.data .phone dl dd{
	float:left;
}
.data .phone dl dt span{
	font-size: 5px;
	color:#ff3300;
}
.data .phone .password dt{
	margin-left: 30px;
}
.data .phone .repassword dt{
	margin-left: 0px;
}
.data .phone dl dd input{
	width: 288px;
	height: 38px;
}
.data .phone .verify dd input{
	width: 168px;
	height: 38px;
}
.data .phone .verify dd div{
	margin-left:10px;
	width: 108px;
	height: 43px;
	font-size: 16px;
	color:#666;
	line-height: 38px;
	text-align: center;
	background-color: #f8f8f8;
	border:1px solid #cccccc;
	float:right;

}
.data .phone dl dd p{
	font-size: 12px;
	color:#aaa;
	margin-top:10px;
}
.data .phone .code dd input:nth-of-type(1){
	width: 168px;
	height: 38px;
}
.data .phone .code dd .button{
	margin-left:10px;
	width: 108px;
	height: 43px;
	font-size: 12px;
	color:#666;
	line-height: 38px;
	text-align: center;
	background-color: #f8f8f8;
	border:1px solid #cccccc;
}
.data .phone .check{
	margin:30px 0 0 200px;
	font-size: 12px;
	color:#aaa;
}
.enroll{
	width: 290px;
	height: 40px;
	background-color: #db2e2e;
	border:none;
	font-size: 14px;
	color:#fff;
	margin:27px 0 0 84px;
	border-radius: 5px;
}
.logon{
	float:right;
	width: 275px;
	height: 300px;
 	border-left: 1px solid #f5f5f5;
	margin-top:30px;
	padding-left:25px;

}
.logon p{
	font-size: 12px;
	color: #666;
	margin-bottom: 13px;
}
.logon ul li{
	width: 170px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 12px;
	color:#fff;
	margin-top: 15px;
	border-radius: 5px;
}
.logon ul li:nth-child(1){
	background-color: #5baf30;
}
.logon ul li:nth-child(2){
	background-color: #f55643;
}
.logon ul li:nth-child(3){
	background-color: #039ae3;
}
.logon ul li:nth-child(4){
	background-color: #f57601;
}
.logon ul li:nth-child(5){
	background-color: #545be7;
}
/*foot*/
.foot{
	width: 980px;
	height: 90px;
	border-top: 1px solid #dcdcdc;
	padding:15px 150px 0 150px;
	margin-top: 50px;
}
.foot ul li{
	float: left;
}
.foot ul li a{
	font-size: 11px;
	color:#666;
	padding:0 11px 0;
	border-right: 1px solid #666;
}
.foot ul li:nth-child(3) a{
	border:none;
}
.foot p{
	float:right;
	font-size: 11px;
	color:#666;
}